[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=$CONSUL_CONFIG

[Service]
Type=notify
User=consul
Group=consul
ExecStart=/usr/local/bin/consul agent -data-dir /var/consul -config-file $CONSUL_CONFIG -node-meta $ARCH -node-meta $OS -node-meta $MODEL
ExecReload=/usr/local/bin/consul reload
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
